-r requirements.txt

# Code formatting
black
isort

# Linting
flake8
flake8-bugbear
flake8-comprehensions
flake8-simplify

# Type checking
mypy

# Testing
pytest
pytest-cov
pytest-homeassistant-custom-component

safety
pre-commit
bump2version
types-setuptools
